.MyButton{
    width: auto;
    height: 30px;
    font-weight: 800;
    cursor: pointer;
    border-radius: 5px;
    margin: 20px 10px 0 0;
    background-color: rgb(108, 128, 193);
    transition-duration: 0.4s;
}

.MyButton:hover{
    background-color: rgb(44, 227, 20);
    color: #FFFF;
}
