.contact{
    width: 400px;
    height: 130px;
    display: flex;
    align-items: flex-start;
    box-shadow: 1px 2px 4px;
    margin-top: 10px;
    cursor: pointer;
    border-radius: 10px;
    padding: 5px;
    word-break: break-all;
}

.contImg{
    width: 100px;
    height: 120px;
    margin: 0 20px 0 10px;
    border-radius: 10px;
}
