.modal{
    position: absolute;
    top: 40%;
    left: 40%;
    border: 2px solid #000;
    width: 500px;
    background-color: rgb(209, 239, 255);
    padding: 5px;
    border-radius: 10px;
    word-break: break-all;
}

.closeButton{
    position: absolute;
    top: 3%;
    right: 2%;
    background-color: rgb(108, 128, 193);
    border-radius: 5px;
    cursor: pointer;
    transition-duration: 0.4s;
}

.closeButton:hover {
    background-color: #ff1111;
    color: white;
  }



.ModalImg{
    width: 100px;
    height: 120px;
    border-radius: 5px;
}

.modalContainer{
    padding: 5px;
    display: flex;
}

.contact_Info{
    display: flex;
    flex-direction: column;
    margin-left: 20px;
}

.controlButtons{
    padding: 5px;
}
