.CreatePage{
    box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
    padding: 5px;
    margin: 30px 0 0 30px;
    position: relative;
}

.changePageInfo{
    margin-top: 50px;
}

.pageTitle,  .pageContent{
    margin-bottom: 0;
}

.InputText{
    width: 400px;
    height: 23px;
    color: brown;
    font-weight: 600;
    outline: none;
    border: 2px solid rgb(25, 122, 170);
}

.quoteText{
    width: 500px;
    height: 100px;
    resize: none;
    color: brown;
    font-weight: 600;
    outline: none;
    border: 2px solid rgb(25, 122, 170);
    overflow: auto;
    border-radius: 10px;
}


.contactPhoto{
    display: block;
    margin: 10px 0;
    width: 120px;
    height: 140px;
    border-radius: 5px;
}

