.header{
  height: 70px;
  background-color: rgb(70, 139, 129);
}

.navBar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 70px;
  list-style-type: none;
}

.navLink {
  display: block;
  color: white;
  padding: 5px 10px;
  text-decoration: none;
  transition: ease-in-out 0.3s;
  font-size: 20px;
}

.navLink:first-child{
  margin-left: 40px;
}

.navLink:last-child{
  margin-right: 40px;
}

.navLink:hover {
  background-color: rgb(30, 114, 101);
  border-radius: 20px;
}

.LinkContacts{
  font-size: 30px;
}

.LinkAdd{
  border-bottom: 1px solid transparent;
  font-size: 25px;
}

.LinkAdd:hover{
  border-bottom: 2px solid #FFF;
}