.container{
    max-width: 1500px;
    margin: 0 auto;
}

.addNewDish{
    padding: 5px 10px;
    text-decoration: none;
    color: #000;
    font-size: 25px;
    box-shadow: 1px 2px 3px ;
    border-radius: 5px;
}

.pagePromo{
    display: flex;
    justify-content: space-between;
    align-items: center;
}